{% extends "base.html" %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        .container{
            font-family: 'Do Hyeon', sans-serif;
        }
        h1{
            font-size:40px;
            padding:20px;
            margin-bottom: 0;
            text-align: center;
        }
        table{
            margin:0 auto;
            border-collapse: separate;
            border-spacing: 0 5px;
        }
        tr td.title{
            padding: 10px 0px;
            font-size:18px;
        }
        input,select{
            width:100%;
            border-radius: 5px;
            padding:1px 5px;
        }
    </style>
    <div class="container">
        <h1>
            체력단련비 신청서
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
        </h1>
        <form action="/apply/apply" method="POST" enctype="multipart/form-data">
            <table boder="cellspacing = 1" id="document">
                <tr>
                    <td class="title">■ 인적사항</td>
                </tr>
                <tr>
                    <td>행번</td>
                    <td>
                        <input type="text" name="usernumber" value="{{ info.usernumber }}" readonly />
                    </td>
                </tr>
                <tr>
                    <td>성명</td>
                    <td>
                        <input name="name" type="text" name="name" value="{{ info.name }}" readonly />
                    </td>
                </tr>
                <tr>
                    <td>부점명</td>
                    <td>
                        <input type="text" name="dept" value="{{ info.dept }}" readonly />
                    </td>
                </tr>
                <tr>
                    <td>직급</td>
                    <td>
                        <input type="text" name="position" value="{{ info.position }}" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="title">■ 수강상세내역</td>
                </tr>
                <tr>
                    <td>수강과목</td>
                    <td>
                        <input type="text" name="course" value="{{ info.course }}"/>
                    </td>
                </tr>
                <tr>
                   <td>수강기간</td>
                   <td>
                      <input type="date" name="course_start_time" style="width:46.5%" value="{{ info.course_start_time }}">
                       ~
                      <input type="date" name="course_end_time" style="width:46.5%" value="{{ info.course_end_time }}">
                   </td>
                </tr>
                <tr>
                    <td>기관명</td>
                    <td>
                        <input type="text" name="organization_name" value="{{ info.organization_name }}" />
                    </td>
                </tr>
                <tr>
                    <td>기관 전화번호</td>
                    <td>
                        <input type="text"  name="organization_tel" value="{{ info.organization_tel }}"/>
                    </td>
                </tr>
                <tr>
                    <td>총결제금액</td>
                    <td>
                        <input type="text" name="total_price" value="{{ info.total_price }}"/>
                    </td>
                </tr>
                <tr>
                    <td>수강개월</td>
                    <td>
                        <select name="course_month">
                            <option value="1" {% if info.course_month == "1" %} selected {% endif %} > 1개월 </option>
                            <option value="2" {% if info.course_month == "2" %} selected {% endif %} > 2개월 </option>
                            <option value="3" {% if info.course_month == "3" %} selected {% endif %} > 3개월 </option>
                            <option value="4" {% if info.course_month == "4" %} selected {% endif %} > 4개월 </option>
                            <option value="5" {% if info.course_month == "5" %} selected {% endif %} > 5개월 </option>
                            <option value="6" {% if info.course_month == "6" %} selected {% endif %} > 6개월 </option>
                            <option value="7" {% if info.course_month == "7" %} selected {% endif %} > 7개월 </option>
                            <option value="8" {% if info.course_month == "8" %} selected {% endif %} > 8개월 </option>
                            <option value="9" {% if info.course_month == "9" %} selected {% endif %} > 9개월 </option>
                            <option value="10" {% if info.course_month == "10" %} selected {% endif %} > 10개월 </option>
                            <option value="11" {% if info.course_month == "11" %} selected {% endif %} > 11개월 </option>
                            <option value="12" {% if info.course_month == "12" %} selected {% endif %} > 12개월 </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>영수증 결제일</td>
                    <td>
                        <input type="date" name="payment_date" value="{{ info.payment_date }}" />
                    </td>
                </tr>
                <tr>
                    <td>승인번호</td>
                    <td>
                        <input type="text" name="approval_number" value="{{ info.approval_number }}" />
                    </td>
                </tr>
                <tr>
                    <td>결제카드번호</td>
                    <td>
                        <input type="text" name="card_number" value="{{ info.card_number }}" />
                    </td>
                </tr>

                <tr>
                    <td>영수증</td>
                    <td>
                        <input type="file" name="email_file1" style="width:auto">
                        {{ files.email_file1 }}
                    </td>
                </tr>
                <tr>
                    <td>수강확인서</td>
                    <td>
                        <input type="file" name="email_file2" style="width:auto">
                        {{ files.email_file2 }}
                    </td>
                </tr>
                <tr>
                    <td>신용카드</td>
                    <td>
                        <input type="file" name="email_file3" style="width:auto">
                        {{ files.email_file3 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if info.email %}
                            <input type="button" value="재작성" onclick="reload()"/>
                        {% endif %}
                    </td>
                    <td>
                        <input type="submit" value="메일발송"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        function reload(){
            location.href = "/apply/apply";
        }
    </script>
{% endblock %}