{% extends 'base.html' %}
{% block content %}


    <style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    .container{
        font-family: 'Do Hyeon', sans-serif;
    }
    </style>

<body>
    <header>
        <div class="container">
          <div class="row">
              <div class="col-sm-5">
                  <br>
              <h4 class="text-black">운동 인증하기&nbsp<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
</svg></h4>
                  <p class="text-muted" style="font-size:17px">운동 인증 사진을 올려보세요</p>
              </div>
            <div class="col-sm-4 offset-md-1 py-4 align-self-end">
                <div class="btn-group" style="text-black">
                    <a href="{{ url_for('photo.create') }}" class="btn btn-primary">운동 인증하기</a>
                </div>
            </div>
          </div>
        </div>
    </header>
<main>

<!----------검색바--------->
<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary " type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
<!------------------검색바 여기까지------>

    <div class="table">
<!--    <thead>-->
<!--    <th>-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% if photo_list %}
        {% for photo in photo_list.items %}
        <div class="text-center">
            <div>{{ photo_list.total - ((photo_list.page-1) * photo_list.per_page) - loop.index0 }}
            </div>

            <!-- new card 1 -->
            <div class="album py-1">
            <div class="container">
<!--                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5" id="parent">-->
                <div class="col">
                  <div class="card shadow-sm">
                      <img src="{{ photo.content }}" width="100%" height="300">

                    <div class="card-body" id="delete">
                      <p class="card-text">{{ photo.create_date|datetime }}&nbsp&nbsp&nbsp{{ photo.user.username }}

                          <!-------사진 삭제기능------------------------------>
                            {% if g.user == photo.user %}
                            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                           data-uri="{{ url_for('photo.delete', user_id=photo.id) }}">삭제</a>
                            {% endif %}
                            <!----------사진삭제기능--------------------></p>

                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
            </div>
            <!-----new card 여기까지---------------->
            </td>

        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">게시물이 없습니다.</td>
        </tr>
        {% endif %}
    </div>

        <br>
        <br>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if photo_list.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ photo_list.prev_num }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        {% for page_num in photo_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != photo_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if photo_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ photo_list.next_num }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->


</div>
<form id="searchForm" method="get" action="{{ url_for('photo._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}

<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>


<!--delete 팝업위해 추가한거-->
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>

</main>
</body>

{% endblock %}
